{:deps {local/mallard {:local/root "./packages/mallard"}
        local/mallard-mongo-store {:local/root "./packages/mongo"}
        local/build {:local/root "build"}}

 :aliases {:test {:extra-deps {nubank/matcher-combinators {:mvn/version "3.8.8"}}}
           :kmono {:deps {com.kepler16/kmono {:mvn/version "2.0.1.0"}}
                   :ns-default k16.kmono.api}}}

